*{
    padding: 0;
    margin: 0;
}



    /* font-family: 'Merriweather', serif; */

   /* bennar style     */

 .new-year-bennar{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('B9A1-New-Year-New-Mission-main/B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1320px;
    width: 82%;
    margin: 0px auto;
    margin-top: 50px;
    margin-right:290px;
    padding-bottom: 120px;
    border-radius: 16px;
    
    

}
.bennar-text{
    max-width: 632px;
    width: 82%;
    padding:150px 344px;
}

.bennar-text-one{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 16px;
    padding: 20px 0px 0px 0px;
    
}
.bennar-text-tow{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

                     /* 65% off style  */

.holyday-items-one{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;

}
.holyday-item-tow{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    
}
.holyday-item-three{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
   
}
.holyday-item-img{
    display: block;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
   margin: 0px auto;
}
#holyday-items-one{
    padding-bottom: 50px;
}
#holyday-item-tow{
    padding-bottom: 16px;
}
.holyday-item-three{
    padding-bottom: 50px;
}

       /* midnight party style  */


.midnight-party-container{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('B9A1-New-Year-New-Mission-main/B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1320px;
    width: 82%;
    margin: 0px auto;
    margin-top: 50px;
    margin-right:290px;
    padding-bottom: 120px;
    border-radius: 16px;
}  
.midnight-text-one{
    color: #FFF;
    font-family:'Merriweather',sans-serif ;
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}    
.midnight-peragraf{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

} 
.midnight-btn{
    color: #FFF;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: transparent;
    padding: 48px 0px 0px 32px;
}
.midnight-party-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midnight-container-item{
    max-width: 697px;
    width: 80%;
    padding: 50px 0px 0px 125px;

}
.midnight-peragraf{
    padding-top: 24px;
}
.midnight-container-img{
    padding: 68px 138px 67px 0px;
}


      /* date time place style  */


.place-date-time{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1320px;
    width: 82%;
    margin: 0px auto;
    margin-top: 50px;
    margin-right:290px;
    padding-bottom: 120px;
    border-radius: 16px;
    margin-bottom: 120px;
}      

span{
    color:#F00; 
}
.place-date-time{
    color: #070211;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.place-date-time-btn{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    
}
#place-date-time-con{
    padding: 100px 0px 0px 0px;
}
#btn{
    margin-top: 48px;
}
   

      /* olyday sell style */
   


.Holidays-Sale-first-p{
    color: #070211;
    font-family: 'Inter',sans-serif;
    font-size: 24px;  
    font-weight: 500;
    text-align: center;
    
}
.Holidays-Sale-heading{
    color: #070211;
    font-family: 'Merriweather',sans-serif;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
   
}
.Holidays-Sale-lust-p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
    text-align: center;
    margin-top: 30px;
    margin-bottom: 65;
    
}
.Holidays-Sale-lust-p{
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
    padding-top: 30px;
}
.first-row-img{
    max-width: 1320px;
    width: 80%;
    background-color: antiquewhite;
    margin: 0px auto;
}
.first-row-img{
    display: flex;
    justify-content: right;
   
}
.img-1{
    position: absolute;
    padding-top: 85px;
    padding-right: 285px;
}

.img-2{
    position:static;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}
.tow{
    max-width: 1320px;
    height: 300px;
    width: 80%;
    background-color: aquamarine;
    text-align:end ;

}

     /* best-gift-section */
.best-gift-main-container{
    max-width: 1320px;
    width: 80%;
    margin: 0px auto;

}


.best-gift-text-one{
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.best-gift-text-tow{
    color: #070211;
    font-family: 'Merriweather',sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 22px;
}
.best-gift-text-three{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter',sans-serif;
    font-size: 20px; 
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 50px;
}

.best-gift-image-first-row{
    display: flex;
    justify-content: space-between;
}
.best-gift-row-tow{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

          /* Subscribe Newsletter style */

.Newsletter-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1320px;
    width: 80%;
    margin: 0px auto;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.envelope{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-top: 80px;
}

.Subscribe-text{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather',sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 40px;
}
.Subscribe-peragraf{
    max-width: 900px;
    width: 100%;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
   margin-bottom: 50px;

}
#email {
    height: 72px;
    max-width: ;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px ;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 400;
    
    

    
}
#submit{
    position: relative;
    height: 72px;
    width: 200px;
    left: -5px;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #F00;

}
.Subscribe-button{
    padding-bottom: 80px;
}

#email::placeholder{
    padding: 25px 0px 25px 30px;

}
#Subscribe-Newsletter{
    margin-bottom: 120px;
}



            /* footeer style */

.footer-main-container{
    width: 100%;
    background: #070211;
    
}           

#phone-adderss-style{
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}   

.phone-adderss{
    display: flex;
    justify-content: space-around;
    padding: 120px 0px 0px 0px;
}


.hr{
    max-width: 1320px;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
    height: 1px;
    color: #ffffff.15%;
    padding-top: 50px;
}
hr{
    color: #ffffff.15%;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px 0px 50px 0px;
}

.hr-tow{
    max-width: 1320px;
    width: 80%;
    margin: 0px auto;
    /* padding-bottom: 50px; */
    height: 1px;
    color: #ffffff.15%;
    /* margin-top: 50px; */
}


.last-one-p{
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 120px;
}
.last-com{
    display: flex;
    justify-content: space-between;
    
    
}
.peragraf{
    padding-left: 320px;
}
.peragraf-tow{
    padding-right:320px ;
}